<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kfunderburg.oneNoteNav</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>019F6201-F9A7-4B8A-9912-B9E24F86ACCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA606373-D979-4C12-AE2E-A683408A9F59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35AD0043-2625-4300-8769-4C377E8C38B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93D9A07A-5CED-49CE-880D-D9C0516A9882</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4879434B-20FE-4552-85FC-1A1A774C33DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B30FA759-40A6-4CF6-BD72-514A249C50B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B97190A-DE57-49A5-A9DF-59E9AB7AC1D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B55BADE8-6661-424A-8F72-7A497432A5E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F833E599-338E-414B-9418-18D44285F113</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8F75DD60-C467-414F-8D16-4AC2229543B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67B91701-5160-4BF2-83EE-17F8159DF2E9</key>
		<array/>
		<key>71141C6A-C118-42E4-9E99-B06F5A067CC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46C99F69-8F5D-4AA2-80A1-9BED07121C75</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CDC04AE0-AEE7-43D9-908E-1F36FAC31A50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>7377F10C-DBA4-4B4A-9C22-DD38E1760D86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46C99F69-8F5D-4AA2-80A1-9BED07121C75</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C0C20C27-0D91-4070-86B6-E7C132D3D5E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>76262B95-3C87-474D-BC55-1807CD03B0DA</key>
		<array/>
		<key>8F75DD60-C467-414F-8D16-4AC2229543B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70FD91D1-5BF7-43B1-97D9-7E678748EFB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93D9A07A-5CED-49CE-880D-D9C0516A9882</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>533F0E0E-3B5C-4084-9314-0ABBA8BE75BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF128AF1-18C2-46AF-9740-D65A3DB2EC2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35AD0043-2625-4300-8769-4C377E8C38B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B30FA759-40A6-4CF6-BD72-514A249C50B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B97190A-DE57-49A5-A9DF-59E9AB7AC1D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B55BADE8-6661-424A-8F72-7A497432A5E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1416E0D6-5E7C-43BA-BD94-413455B111B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0C20C27-0D91-4070-86B6-E7C132D3D5E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46C99F69-8F5D-4AA2-80A1-9BED07121C75</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CDC04AE0-AEE7-43D9-908E-1F36FAC31A50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kevin Funderburg</string>
	<key>description</key>
	<string>Navigate OneNote's Notebook's</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OneNote Navigator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>;so</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>getting all notebooks and sections...</string>
				<key>script</key>
				<string>/usr/bin/python getNotebooks.py --type searchall</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>search all notebooks/sections/section groups</string>
				<key>title</key>
				<string>Search OneNote</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>71141C6A-C118-42E4-9E99-B06F5A067CC5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python getNotebooks.py --url "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>46C99F69-8F5D-4AA2-80A1-9BED07121C75</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>;bo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>getting notebooks...</string>
				<key>script</key>
				<string>/usr/bin/python getNotebooks.py --type browse_notebooks</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>browse OneNote notebooks</string>
				<key>title</key>
				<string>Browse OneNote</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7377F10C-DBA4-4B4A-9C22-DD38E1760D86</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python getNotebooks.py --url "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CDC04AE0-AEE7-43D9-908E-1F36FAC31A50</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>{var:q}</string>
				<key>script</key>
				<string>/usr/bin/python getNotebooks.py --type "browse"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{var:theTitle}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>browse_section</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C0C20C27-0D91-4070-86B6-E7C132D3D5E5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>q</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>set_q</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>76262B95-3C87-474D-BC55-1807CD03B0DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>hide</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>C7954467-8DC2-413C-B867-7480390F51C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>openInOneNote</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>AF128AF1-18C2-46AF-9740-D65A3DB2EC2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>%20</string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>533F0E0E-3B5C-4084-9314-0ABBA8BE75BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Microsoft OneNote.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>35AD0043-2625-4300-8769-4C377E8C38B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>93D9A07A-5CED-49CE-880D-D9C0516A9882</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>OneNote URL base was stored successfully</string>
				<key>title</key>
				<string>OneNote URL setup</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1416E0D6-5E7C-43BA-BD94-413455B111B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>B55BADE8-6661-424A-8F72-7A497432A5E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>seturl</string>
				<key>subtext</key>
				<string>paste a URL copied from a OneNote section/page/notebook and press ↩︎</string>
				<key>text</key>
				<string>OneNote Navigator setup</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4879434B-20FE-4552-85FC-1A1A774C33DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python getNotebooks.py --seturl "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B30FA759-40A6-4CF6-BD72-514A249C50B3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>valid</string>
						<key>uid</key>
						<string>F833E599-338E-414B-9418-18D44285F113</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4B97190A-DE57-49A5-A9DF-59E9AB7AC1D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python getNotebooks.py --warn $q</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>70FD91D1-5BF7-43B1-97D9-7E678748EFB8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>q</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8F75DD60-C467-414F-8D16-4AC2229543B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>onenote.*</string>
						<key>outputlabel</key>
						<string>is url</string>
						<key>uid</key>
						<string>EFD81248-9CAA-4A27-BF0B-1E3E97E0A5AD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>browse</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>019F6201-F9A7-4B8A-9912-B9E24F86ACCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>browse</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>DA606373-D979-4C12-AE2E-A683408A9F59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>browse</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>67B91701-5160-4BF2-83EE-17F8159DF2E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use Alfred to search &amp; browse through your Microsoft OneNote notebooks, section groups and sections and then jump to them instantly.</string>
	<key>uidata</key>
	<dict>
		<key>019F6201-F9A7-4B8A-9912-B9E24F86ACCD</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>1090</integer>
		</dict>
		<key>1416E0D6-5E7C-43BA-BD94-413455B111B7</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>805</integer>
		</dict>
		<key>35AD0043-2625-4300-8769-4C377E8C38B7</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
		<key>46C99F69-8F5D-4AA2-80A1-9BED07121C75</key>
		<dict>
			<key>note</key>
			<string>open url</string>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>4879434B-20FE-4552-85FC-1A1A774C33DB</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>865</integer>
		</dict>
		<key>4B97190A-DE57-49A5-A9DF-59E9AB7AC1D7</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>885</integer>
		</dict>
		<key>533F0E0E-3B5C-4084-9314-0ABBA8BE75BE</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
		<key>67B91701-5160-4BF2-83EE-17F8159DF2E9</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>1130</integer>
		</dict>
		<key>70FD91D1-5BF7-43B1-97D9-7E678748EFB8</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>invalid URL</string>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>925</integer>
		</dict>
		<key>71141C6A-C118-42E4-9E99-B06F5A067CC5</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>search all notebooks</string>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>7377F10C-DBA4-4B4A-9C22-DD38E1760D86</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>browse notebooks</string>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>76262B95-3C87-474D-BC55-1807CD03B0DA</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>8F75DD60-C467-414F-8D16-4AC2229543B1</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>955</integer>
		</dict>
		<key>93D9A07A-5CED-49CE-880D-D9C0516A9882</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>715</integer>
		</dict>
		<key>AF128AF1-18C2-46AF-9740-D65A3DB2EC2F</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
		<key>B30FA759-40A6-4CF6-BD72-514A249C50B3</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>865</integer>
		</dict>
		<key>B55BADE8-6661-424A-8F72-7A497432A5E5</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>835</integer>
		</dict>
		<key>C0C20C27-0D91-4070-86B6-E7C132D3D5E5</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>browse section</string>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>C7954467-8DC2-413C-B867-7480390F51C6</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>CDC04AE0-AEE7-43D9-908E-1F36FAC31A50</key>
		<dict>
			<key>note</key>
			<string>recurse or open url</string>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>DA606373-D979-4C12-AE2E-A683408A9F59</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>browse section or section group</string>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>1130</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.3.1</string>
	<key>webaddress</key>
	<string>https://github.com/kevin-funderburg/alfred-microsoft-onenote-navigator</string>
</dict>
</plist>
