<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kfunderburg.oneNoteNav</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0CEF0A1F-C4E6-491E-BA4B-D418D28D43CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFB75A68-4E8F-4C34-99DA-43B3EFC221B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>243099B9-2163-4F7F-B669-F6CC296F5D4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CEF0A1F-C4E6-491E-BA4B-D418D28D43CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35AD0043-2625-4300-8769-4C377E8C38B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93D9A07A-5CED-49CE-880D-D9C0516A9882</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4879434B-20FE-4552-85FC-1A1A774C33DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CCC2901-5BE5-489E-808A-82CC1F5FCCB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>4B97190A-DE57-49A5-A9DF-59E9AB7AC1D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B55BADE8-6661-424A-8F72-7A497432A5E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F833E599-338E-414B-9418-18D44285F113</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8F75DD60-C467-414F-8D16-4AC2229543B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67B91701-5160-4BF2-83EE-17F8159DF2E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2F72053-5620-46A8-8748-DB4EBBA0D222</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71141C6A-C118-42E4-9E99-B06F5A067CC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CEF0A1F-C4E6-491E-BA4B-D418D28D43CF</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>74048D3F-1EF4-408D-893A-1326EF40F2AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>7377F10C-DBA4-4B4A-9C22-DD38E1760D86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>243099B9-2163-4F7F-B669-F6CC296F5D4A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B2F72053-5620-46A8-8748-DB4EBBA0D222</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74048D3F-1EF4-408D-893A-1326EF40F2AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFB75A68-4E8F-4C34-99DA-43B3EFC221B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EFD81248-9CAA-4A27-BF0B-1E3E97E0A5AD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D3A56607-821E-4207-8BD7-C1D9FD57B8B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7CCC2901-5BE5-489E-808A-82CC1F5FCCB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B30FA759-40A6-4CF6-BD72-514A249C50B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F75DD60-C467-414F-8D16-4AC2229543B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70FD91D1-5BF7-43B1-97D9-7E678748EFB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93D9A07A-5CED-49CE-880D-D9C0516A9882</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>533F0E0E-3B5C-4084-9314-0ABBA8BE75BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF128AF1-18C2-46AF-9740-D65A3DB2EC2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35AD0043-2625-4300-8769-4C377E8C38B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2F72053-5620-46A8-8748-DB4EBBA0D222</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0C20C27-0D91-4070-86B6-E7C132D3D5E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B30FA759-40A6-4CF6-BD72-514A249C50B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B97190A-DE57-49A5-A9DF-59E9AB7AC1D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B55BADE8-6661-424A-8F72-7A497432A5E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1416E0D6-5E7C-43BA-BD94-413455B111B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0C20C27-0D91-4070-86B6-E7C132D3D5E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74048D3F-1EF4-408D-893A-1326EF40F2AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>34B0EE62-B4E6-4A2A-8F1D-96AEFFEF1DF0</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kevin Funderburg</string>
	<key>description</key>
	<string>Navigate OneNote's Notebook's</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OneNote Navigator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>openInOneNote</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>FFB75A68-4E8F-4C34-99DA-43B3EFC221B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>0CEF0A1F-C4E6-491E-BA4B-D418D28D43CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>243099B9-2163-4F7F-B669-F6CC296F5D4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>;bo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>getting notebooks...</string>
				<key>script</key>
				<string>python getNotebooks.py --type browse_notebooks</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>browse OneNote notebooks</string>
				<key>title</key>
				<string>Browse OneNote</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7377F10C-DBA4-4B4A-9C22-DD38E1760D86</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>;so</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>getting all notebooks and sections...</string>
				<key>script</key>
				<string>python getNotebooks.py --type searchall</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>search all notebooks/sections/section groups</string>
				<key>title</key>
				<string>Search OneNote</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>71141C6A-C118-42E4-9E99-B06F5A067CC5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>onenote.*</string>
						<key>outputlabel</key>
						<string>is url</string>
						<key>uid</key>
						<string>EFD81248-9CAA-4A27-BF0B-1E3E97E0A5AD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>browse</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>74048D3F-1EF4-408D-893A-1326EF40F2AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>browse</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>D3A56607-821E-4207-8BD7-C1D9FD57B8B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>browse</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>67B91701-5160-4BF2-83EE-17F8159DF2E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>openInOneNote</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>34B0EE62-B4E6-4A2A-8F1D-96AEFFEF1DF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>{var:q}</string>
				<key>script</key>
				<string>python getNotebooks.py --type "browse"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{var:theTitle}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C0C20C27-0D91-4070-86B6-E7C132D3D5E5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>q</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B2F72053-5620-46A8-8748-DB4EBBA0D222</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>openInOneNote</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>AF128AF1-18C2-46AF-9740-D65A3DB2EC2F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>%20</string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>533F0E0E-3B5C-4084-9314-0ABBA8BE75BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Microsoft OneNote.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>35AD0043-2625-4300-8769-4C377E8C38B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>93D9A07A-5CED-49CE-880D-D9C0516A9882</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>OneNote URL base was stored successfully</string>
				<key>title</key>
				<string>OneNote URL setup</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1416E0D6-5E7C-43BA-BD94-413455B111B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>B55BADE8-6661-424A-8F72-7A497432A5E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>seturl</string>
				<key>subtext</key>
				<string>paste a URL copied from a OneNote section/page/notebook and press ↩︎</string>
				<key>text</key>
				<string>OneNote Navigator setup</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4879434B-20FE-4552-85FC-1A1A774C33DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python getNotebooks.py --seturl "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B30FA759-40A6-4CF6-BD72-514A249C50B3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>valid</string>
						<key>uid</key>
						<string>F833E599-338E-414B-9418-18D44285F113</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4B97190A-DE57-49A5-A9DF-59E9AB7AC1D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>"{query}"</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7CCC2901-5BE5-489E-808A-82CC1F5FCCB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python getNotebooks.py --warn $q</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>70FD91D1-5BF7-43B1-97D9-7E678748EFB8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>q</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8F75DD60-C467-414F-8D16-4AC2229543B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use Alfred to search &amp; browse through your Microsoft OneNote notebooks, section groups and sections and then jump to them instantly.</string>
	<key>uidata</key>
	<dict>
		<key>0CEF0A1F-C4E6-491E-BA4B-D418D28D43CF</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>1416E0D6-5E7C-43BA-BD94-413455B111B7</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>243099B9-2163-4F7F-B669-F6CC296F5D4A</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>34B0EE62-B4E6-4A2A-8F1D-96AEFFEF1DF0</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>35AD0043-2625-4300-8769-4C377E8C38B7</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>4879434B-20FE-4552-85FC-1A1A774C33DB</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>4B97190A-DE57-49A5-A9DF-59E9AB7AC1D7</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>533F0E0E-3B5C-4084-9314-0ABBA8BE75BE</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>67B91701-5160-4BF2-83EE-17F8159DF2E9</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>70FD91D1-5BF7-43B1-97D9-7E678748EFB8</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>invalid URL</string>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>71141C6A-C118-42E4-9E99-B06F5A067CC5</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>search all notebooks</string>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>7377F10C-DBA4-4B4A-9C22-DD38E1760D86</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>browse notebooks</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>74048D3F-1EF4-408D-893A-1326EF40F2AB</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>7CCC2901-5BE5-489E-808A-82CC1F5FCCB8</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>surround url with quotes</string>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>8F75DD60-C467-414F-8D16-4AC2229543B1</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>93D9A07A-5CED-49CE-880D-D9C0516A9882</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>565</integer>
		</dict>
		<key>AF128AF1-18C2-46AF-9740-D65A3DB2EC2F</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>B2F72053-5620-46A8-8748-DB4EBBA0D222</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>160</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>B30FA759-40A6-4CF6-BD72-514A249C50B3</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>B55BADE8-6661-424A-8F72-7A497432A5E5</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>C0C20C27-0D91-4070-86B6-E7C132D3D5E5</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>browse section</string>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>D3A56607-821E-4207-8BD7-C1D9FD57B8B5</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>browse section or section group</string>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>FFB75A68-4E8F-4C34-99DA-43B3EFC221B3</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.3.1</string>
	<key>webaddress</key>
	<string>https://github.com/kevin-funderburg/alfred-microsoft-onenote-navigator</string>
</dict>
</plist>
